<div class="row">
<div class="col-lg-6">

        <p><a href="/nota_act/create" class="btn btn-info">Добавить</a></p>


        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Заголовок</th>
                        <th>Дедлайн</th>
                        <th>Исполнитель</th>
                        <th>Операции</th>
                    </tr>
                </thead>
                <tbody>
                   <% _.each(nota_acts, function (nota_act) { %>
                    <tr>
                        <td><%- nota_act.id %></td>
                        <td><a href="/nota_act/view/<%= task.id %>"><%= nota_act.title %></a></td>
                        <td><%- nota_act.date %></td>
                        <td><%- nota_act.fiz_clients.name %></td>
                        <td><a class="btn btn-warning" href="/nota_act/delete/<%= nota_act.id %>">Delete</a></td>
                    </tr>
                    <%}) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->
