<div class="container">
  <h3>Пользователи:</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Логин</th>
      <th>Email</th>
    </tr>

    <% _each(users, function( user ){ %>
      <tr data-id="<%= user.id %>" data-model="user">
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.title %></td>
        <td><%= user.email %></td>
        <td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Показать</a></td>
        <td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Редактировать</a></td>
        <td><a href="/user/destroy/<%= user.id %>" class="btn btn-sm btn-danger">Удалить</a></td>
      </tr>
      <% })
    </table>
  </div>
